@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-background: #0f172a;
  --color-surface: #1e293b;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}